<h1><%= @homepage.title%></h1>
<%@homepage.notes.each do |note|%>
<%=link_to note.title, note%><br>
<%end%>
<strong>-------------------------------------------------------------------------------------</strong>
<%= link_to "Make a Subject", new_note_path%>
