<div id="<%= dom_id note %>">
  <p>
    <strong>Subject:</strong>
    <%= note.title %>
  </p>
  <div>Current Notes</div>
  <strong>----------------------------------------------------------------------------------</strong>
  <div>Current Files</div>

</div>
