<% content_for :title, "Upload File" %>
<div class = center>
  <div class = form>

<h1>Upload form</h1>

<%= render "form_file_upload", note: @note %>

<br>

<div>
  <%= link_to "Back to notes", note_path(@note), class: "text-info" %>
</div>
</div>
</div>
