/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body {
    background-color:#2fb394 !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  background-size: cover !important;
  }
  .container .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
 .container .form{
    background: #4d5456;
    color: white;
      padding: 2rem 3rem;
      border-radius: 1rem;
      font-family: sans-serif;
      font-size: 1.2rem;
      text-align: center;
  }
